{% extends "layouts/base.view.html" %}

{% block content %}

   <div class="col-lg-12 mt-5">
        <div class="row">
            <div class="col-lg-7">
                <div class="card">
                    <div class="card-header">
                        Control Panel
                    </div>
                    <div class="card-body">                
                    <button id="red" class="btn btn-danger">Activate wireless charging</button>
                    <button id="red2" class="btn btn-danger">Deactivate wireless charging</button> 
                    <br><br>
                    <button id="yellow" class="btn btn-warning">Table Lights</button>
                    <button id="yellow2" class="btn btn-warning">Table Lights off</button>
                    <br><br>
                    <button id="temp" class="btn btn-primary mt-2">Humidity and Temperature</button> 
                    <button id="drawer" class="btn btn-primary mt-2">Unlock Drawer</button>
                    <br><br>
                    <button id="sos" class="btn btn-danger">ACTIVATE EMERGENCY SOS</button>
                    <button id="sos2" class="btn btn-danger">DEACTIVATE EMERGENCY SOS</button>
                </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="card">
                    <div class="card-header">
                        System Temparature Status
                    </div>
                    <div class="card-body">
                        <div id="chart_div"></div>
                       <table class="table table-bordered">
                           <tr>
                               <td>CPU</td>
                               <td id="cpu_temp">READING TEMPERATURE</td>
                           </tr>
                           <tr>
                                <td>GPU</td>
                                <td id="gpu_temp">READING TEMPERATURE</td>
                            </tr>
                            <tr>
                                <td>STATUS</td>
                                <td id="stat_indicator">READING STATUS</td>
                            </tr>
                       </table>
                    </div>                    
                </div>
                <div class="card mt-2">
                    <div class="card-header">
                        Room Temperature
                    </div>
                    <div class="card-body">
                       <table class="table table-bordered">
                           <tr>
                               <td>Humidity Level</td>
                               <td id="hum_temp">READING TEMPERATURE</td>
                           </tr>
                           <tr>
                                <td>Temperature</td>
                                <td id="room_temp">READING TEMPERATURE</td>
                            </tr>
                       </table>
                    </div>                    
                </div>
            </div>
        </div>
   </div>

{% endblock %}


{% block script %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script>
$(document).ready(function(){
    google.charts.load('current', {'packages':['gauge']});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {

var data = google.visualization.arrayToDataTable([
['Label', 'Value'],
['CPU', 80],
['GPU', 55]
]);

var options = {
width: 400, height: 120,
redFrom: 90, redTo: 100,
yellowFrom:75, yellowTo: 90,
minorTicks: 5
};

var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

chart.draw(data, options);

setInterval(function() {
data.setValue(0, 1, 40 + Math.round(60 * Math.random()));
chart.draw(data, options);
}, 13000);
setInterval(function() {
data.setValue(1, 1, 40 + Math.round(60 * Math.random()));
chart.draw(data, options);
}, 5000);
}

   $('#green').on('click', function(){
    send_com('G','Enable Bluetooth Speaker now?');
   });
   $('#red').on('click', function(){
    send_com('R','Enable the wireless charging now?');
   });
   $('#red2').on('click', function(){
    send_com('r','Disable the wireless charging now?');
   });
   $('#yellow').on('click', function(){
    send_com('L','Turn on lights?');
   });
   $('#yellow2').on('click', function(){
    send_com('l','Turn off lights?');
   });
   $('#sos').on('click', function(){
    send_com('S','This will activate SOS light effect?');
   });
   $('#sos2').on('click', function(){
    send_com('s','This will deactivate SOS light effect?');
   });
   $('#temp').on('click', function(){
    get_temp();
   });
   $('#drawer').on('click', function(){
    send_com('d','The drawer will auto lock after 5 seconds. Proceed?');
   });
   setInterval(temp,10000);
   
});

function temp(){
    $.ajax({
        url: 'http://smart_table.site/serial/temp',
        method: 'POST',
        success: function(e)
        { 
            var obj = JSON.parse(e);
            $("#cpu_temp").html(obj.cpu + "'C");
            $("#gpu_temp").html(obj.gpu);

            if(obj.cpu > 50 & obj.cpu < 60) {
                $("#stat_indicator").css("background-color", "yellow"); 
                $("#stat_indicator").css("color", "black");   
                $("#stat_indicator").html("SYSTEM IS IN OPTIMUM LEVEL");        
            } else if(obj.cpu > 60 && obj.cpu < 70){
                $("#stat_indicator").css("background-color", "#bf5052");
                $("#stat_indicator").css("color", "#ffffff");
                $("#stat_indicator").html("CPU MIGHT OVERHEAT") 
            } else if(obj.cpu > 40 && obj.cpu < 50){
                $("#stat_indicator").css("background-color", "#5fc974");
                $("#stat_indicator").html("SYSTEM IS NORMAL") 
            } else if(obj.cpu > 70){
                $("#stat_indicator").css("background-color", "#8a1d6d");
                $("#stat_indicator").css("color", "#ffffff");
                $("#stat_indicator").html("SYSTEM IS IN CRITICAL LEVEL") 
            }
        }

    });
}
function send(a){
    $.ajax({
        url: 'http://smart_table.site/serial/send',
        method: 'POST',
        data: {led:a},
        success: function(e)
        {
            alert(e)
        }
    });
}

function send_com(req,r_title)
{
    var headers = new Headers();

headers.append('Accept', 'application/json'); // This one is enough for GET requests
headers.append('Content-Type', 'application/json'); // This one sends body
    Swal.fire({
    title: r_title,
    showCancelButton: true,
    confirmButtonText: 'Confirm',
    showLoaderOnConfirm: true,
    preConfirm: (login) => {
        return fetch(`http://smart_table.site/serial/send`, {
            method: 'POST',
            mode: 'same-origin',            
            redirect: 'follow',
            headers: headers,
            body: JSON.stringify({
                command: req,
                led: req
            }),
        })
        .then(response => {
            if (!response.ok) {
            throw new Error(response.statusText)
            }
            return response.json()
        })
        .catch(error => {
            Swal.showValidationMessage(
            `Request failed: ${error}`
            )
        })
        
    },
    allowOutsideClick: () => !Swal.isLoading()
    }).then((result) => {
    if (result.value) {
        Swal.fire({
        title: `${result.value.response}`,
        })
        
        if(result.value.error != false) {
            Swal.fire({
            type: 'success',
            title: 'Oops.',
            text: `Command received, but no response! ${result.value.response}`            
            })
        } else {
            Swal.fire({
            type: 'success',
            title: result.value.response,
            timer: 4000
            })
        }
    }
    })
}


function get_temp()
{
    var headers = new Headers();

headers.append('Accept', 'application/json'); // This one is enough for GET requests
headers.append('Content-Type', 'application/json'); // This one sends body
    Swal.fire({
    title: 'Show current humidity level and temperature',
    showCancelButton: true,
    confirmButtonText: 'Request',
    showLoaderOnConfirm: true,
    preConfirm: (login) => {
        return fetch(`http://smart_table.site/serial/send`, {
            method: 'POST',
            mode: 'same-origin',            
            redirect: 'follow',
            headers: headers,
            body: JSON.stringify({
                command: 'H',
                led: 'H'
            }),
        })
        .then(response => {
            if (!response.ok) {
            throw new Error(response.statusText)
            }
            return response.json()
        })
        .catch(error => {
            Swal.showValidationMessage(
            `Request failed: ${error}`
            )
        })
        
    },
    allowOutsideClick: () => !Swal.isLoading()
    }).then((result) => {
    if (result.value) {
        Swal.fire({
        title: `${result.value.response}`,
        })
        
        if(result.value.error != false) {
            Swal.fire({
            type: 'error',
            title: 'Oops...',
            text: `Something went wrong! ${result.value.response}`            
            })
        } else {
            var resp = result.value.response;
            var dt = resp.split(" ");
            Swal.fire({
            type: 'success',
            title: 'Humidity Level: ' + dt[0] + '%' + ' Temperature: ' + dt[1] + '\'C',
            timer: 5000
            })
            $("#hum_temp").html(dt[0] + ' %');
            $("#room_temp").html(dt[1] + ' C');
        }
    }
    })
}
</script>
{% endblock %}