{% extends "layouts/base.view.html" %}

{% block styles %}
<link href='/src/css/fullcalendar.min.css' rel='stylesheet' />
{% endblock %}

{% block content %}

   <div class="col-lg-12 mt-5">
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header">
                        My Schedules
                    </div>
                    <div class="card-body">
                        <div id='calendar'></div>
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="card">
                    <div class="card-header">
                        Todays Schedules
                    </div>
                    <div class="card-body">
                       <div class="alert alert-success">No Schedules for today.</div>
                    </div>
                </div>
            
            </div>
        </div>
   </div>

{% endblock %}
{% block script %}
<script src='/src/js/moment.min.js'></script>
<script src='/src/js/fullcalendar.min.js'></script>

<script>
$(document).ready(function(){

});
$(document).ready(function () {
    var calendar = $('#calendar').fullCalendar({
        editable: true,
        events: "/myschedules/events",
        header:{
        left:'prev,next today',
        center:'title',
        right:'month,agendaWeek,agendaDay'
        },
        displayEventTime: true,
        eventRender: function (event, element, view) {
            if (event.allDay === 'true') {
                event.allDay = true;
            } else {
                event.allDay = false;
            }
        },
        selectable: true,
        selectHelper: true,
        select: function (start, end, allDay) {
            var title = prompt('Event Title:');

            if (title) {
                var start = $.fullCalendar.formatDate(start, "Y-MM-DD HH:mm:ss");
                var end = $.fullCalendar.formatDate(end, "Y-MM-DD HH:mm:ss");

                $.ajax({
                    url: '/myschedules/insert',
                    data: 'title=' + title + '&start=' + start + '&end=' + end,
                    type: "POST",
                    success: function (data) {
                        displayMessage("Added Successfully");
                    }
                });
                calendar.fullCalendar('renderEvent',
                        {
                            title: title,
                            start: start,
                            end: end,
                            allDay: allDay
                        },
                true
                        );
            }
            calendar.fullCalendar('unselect');
        },
        eventClick:function(event)
            {
            if(confirm("Are you sure you want to remove it?"))
            {
            var id = event.id;
            $.ajax({
            url:"/myschedule/delete",
            type:"POST",
            data:{id:id},
            success:function()
            {
                calendar.fullCalendar('refetchEvents');
                alert("Event Removed");
            }
            })
            }
        },

        editable: true,
        eventDrop: function (event, delta) {
                    var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
                    var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
                    $.ajax({
                        url: 'edit-event.php',
                        data: 'title=' + event.title + '&start=' + start + '&end=' + end + '&id=' + event.id,
                        type: "POST",
                        success: function (response) {
                            displayMessage("Updated Successfully");
                        }
                    });
                },
        eventClick: function (event) {
            var deleteMsg = confirm("Do you really want to delete?");
            if (deleteMsg) {
                $.ajax({
                    type: "POST",
                    url: "delete-event.php",
                    data: "&id=" + event.id,
                    success: function (response) {
                        if(parseInt(response) > 0) {
                            $('#calendar').fullCalendar('removeEvents', event.id);
                            displayMessage("Deleted Successfully");
                        }
                    }
                });
            }
        }

    });
});

function displayMessage(message) {
	    $(".response").html("<div class='success'>"+message+"</div>");
    setInterval(function() { $(".success").fadeOut(); }, 1000);
}
</script>
</script>
{% endblock %}