<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/src/css/bootstrap.min.css">
  <link rel="stylesheet" href="/src/sweetalert/sweetalert2.min.css">
  <link rel="stylesheet" href="/src/css/custom.css">
  {% block styles %}
  {% endblock %}
  <title>Hello, Desk!</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">{{name|default('Smart Table')}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/weather/index">Weather</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/myschedules/index">My Schedules</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="/serial/index">Control Panel</a>
            </li>
            {% if user is not null %}
            <li class="nav-item">
              <a class="nav-link" href="/auth/logout">Logout</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </nav>
  {% block content %}

  {% endblock %}
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="/src/js/jquery.min.js"></script>
  <script src="/src/js/popper.min.js"></script>
  <script src="/src/js/bootstrap.min.js"></script>
  <script src="/src/sweetalert/sweetalert2.min.js"></script>
  {% block script %}

  {% endblock %}
</body>
</html>
